page-view {
.btn{
    width: 30%;
    font-size: 15px;
}

.b{
    width: 95%;
 
}

.cards{
    background: linear-gradient(rgba(255, 255, 255, 0.459), rgba(0, 0, 255, 0.4));
}

.list{
   background-color: rgba(255, 255, 255, 0);
    
}

}
