page-view-all {

    
    .b{
        width: 150px;

    }
    .c{
        width: 150px;
        background-color: rgb(173,0,39);

    }

    .cards{
        background: linear-gradient(rgba(0, 0, 255, 0.404), rgba(173, 0, 40, 0.404));
    }
    .card{
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(173, 0, 40, 0));
    }
}
